body {font-size: large;
      font-family: "Grape Nuts" , cursive;
    margin: 0 auto;}

nav {width: 100%;
     background-color: white;
     height: max-content;
     color: #000;}

nav li, nav li a {text-decoration: none;
            color: #000;
            /* margin: 15px 0;*/}
nav {overflow: hidden;}

nav ul li {float: left;
           /* margin: 0 15px;  */
           display: block;
           padding: 5px 15px;}

nav li a:hover {color: white;
             background-color: black;}

nav ul {margin: 0 auto;}